<div class="container" style="overflow-y: scroll">

  <!--<div style="position: absolute; z-index: 10; background: white; color: black;">-->
    <!--<h1>Available Food</h1>-->
  <!--</div>-->

  <form>
    <section class="form-block">
      <div class="form-group">
        <input type="text" placeholder="Food" [(ngModel)]="description" name="food_form" size="45">
        <button type="submit" class="btn btn-outline" (click)="collectFood()">Search For</button>
      </div>
    </section>
  </form>


  <div *ngIf="isError">
    <h1>No Food Found!</h1>
  </div>


  <div class="row" *ngIf="foods">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" *ngFor="let food of foods">
      <food-card [food]="food"></food-card>
    </div>
  </div>

</div>
